<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minichain.minichainsplayer"
    >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme"
        android:requestLegacyExternalStorage="true"
        >
        <activity
            android:name="com.minichain.minichainsplayer.MinichainsPlayerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.minichain.minichainsplayer.SettingsActivity"
            android:label="Settings"
            android:parentActivityName="com.minichain.minichainsplayer.MinichainsPlayerActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.minichain.minichainsplayer.MinichainsPlayerActivity"
                />
        </activity>

        <activity android:name="com.minichain.minichainsplayer.PlayListActivity"
            android:label="Playlist"
            android:parentActivityName="com.minichain.minichainsplayer.MinichainsPlayerActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.minichain.minichainsplayer.MinichainsPlayerActivity"
                />
        </activity>

        <service
            android:name="com.minichain.minichainsplayer.MinichainsPlayerService">
        </service>
    </application>

</manifest>